src/test/resources/coinbase-blog-bifrost.json
{
  "StartAt": "CallLambda",
  "States": {
    "CallLambda": {
      "Type": "Task",
      "Resource": "<lambda_arn>",
      "Next": "Worked?",
      "Retry": [{ "ErrorEquals": ["KnownError"] }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Failure"
      }]
    },
    "Worked?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Worked",
          "BooleanEquals": true,
          "Next": "Success"
        }
      ],
      "Default": "Failure"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Failure": {
      "Type": "Fail"
    }
  }
}
